{% extends 'base.html' %} 
{% block title %}Blog{% endblock title %} 
{% block body %}
<div class="container mt-4">
  <h2 class="text-center">How It Works:</h2>
  <br />
  Search: Start by entering the name of the product you're interested in. Our system will swiftly retrieve a list of options from multiple e-commerce platforms.
<br>
Compare: Once you've found a product you like, you can compare prices from different sources. This allows you to make a cost-effective decision.
<br>
Explore: Dive deeper into the product details, read reviews from other shoppers, and check product ratings. Our goal is to provide you with all the information needed to make a confident purchase.
<br>
Purchase: Once you've decided on the product you want, we provide direct links to the retailer's website for hassle-free purchasing.
<br>
</div>



</div>

{% endblock body %}
